<div class="row justify-content-center align-items-center" id="masonry-grid">
  {% for url in images %}
    <div class="col-md-4 col-sm-6 mb-3 masonry-item d-flex justify-content-center align-items-center">
      <a data-fslightbox="gallery" href="//wsrv.nl/?url={{ url }}&w=2000&output=webp">
        <img src="//wsrv.nl/?url={{ url }}&w=300&h=300&output=webp" class="img-thumbnail" loading="lazy">
      </a>
    </div>
  {% endfor %}
</div>