<div class="row" id="masonry-grid">
  {% for url in images %}
    <div class="col-md-4 col-sm-6 mb-3 masonry-item">
      <a data-fslightbox="gallery" href="{{ url }}">
        <img src="{{ url }}" class="img-thumbnail">
      </a>
    </div>
  {% endfor %}
</div>